/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.card {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #a7e48b;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.photo-container {
    width: 100%;
    height: 300px;
    background-color: #5ed5da;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.photo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.message-container {
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    color: #333;
}

p {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}
button {
    width: 15%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #5ed5da;
    border: 2px solid rgba(36, 153, 124, 0.484);
    backdrop-filter: blur(15px);
    font-size: 20px;
    font-style: unset;
    
}